<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478357973664-4cipki29jelg6h2qon5mkaqb0ben7efb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478357973664-4cipki29jelg6h2qon5mkaqb0ben7efb</string>
	<key>API_KEY</key>
	<string>AIzaSyAYN4oujfOSC6YKLRWK4IbO01aZa50nHbI</string>
	<key>GCM_SENDER_ID</key>
	<string>478357973664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itachip.task03fb</string>
	<key>PROJECT_ID</key>
	<string>katachi-hp</string>
	<key>STORAGE_BUCKET</key>
	<string>katachi-hp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:478357973664:ios:f0af10f33ba98ef055f7c5</string>
	<key>DATABASE_URL</key>
	<string>https://katachi-hp.firebaseio.com</string>
</dict>
</plist>
